---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "TechAI Explained",
    "subtitle": "Complex tech. Simple explanations.",
    "language": "en",
    "url": "https://tamirdresher.github.io/techai-explained/",
    "author": {
      "name": "TechAI Explained Team"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.url }}feed.xml" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.articles | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for article in collections.articles | reverse %}
  {%- if loop.index <= 20 %}
  {%- set absoluteArticleUrl = article.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ article.data.title }}</title>
    <link href="{{ absoluteArticleUrl }}"/>
    <updated>{{ article.date | dateToRfc3339 }}</updated>
    <id>{{ absoluteArticleUrl }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">{{ article.templateContent | htmlToAbsoluteUrls(absoluteArticleUrl) }}</content>
  </entry>
  {%- endif %}
  {%- endfor %}
</feed>
